<h3>Add New Book</h3>

<form action="./addbook" method="POST">
  <label> Year:<input name="year" type="text" /> </label><br />
  <label> Title:<input name="name" type="text" /> </label><br />
  <label> Type:<input name="type" type="text" /> </label><br />
  <label> Author:<input name="author" type="text" /> </label><br />
  <input type="submit" value="Save" />
  <input type="reset" value="Reset" />
</form>