<h3>Update Book</h3>

<form action="./updatebook" method="post">
  <label> Year:<input name="year" type="text" readonly="readonly" value="<%=year%>"/> </label><br />
  <label> Title:<input name="name" type="text" readonly="readonly" value="<%=name%>" /> </label><br />
  <p>Year & Title: Primary Key( Hashkey Sortkey) </p>
  <label> Type:<input name="type" type="text" /> </label><br />
  <label> Author:<input name="author" type="text" /> </label><br />
  <input type="submit" value="Save" />
</form>